Census population in Kenya is ongoing.
We would like to look at how the population numbers looked like during the 2009 census.
The data used here is from open data

In [1]:
# import modules
import pandas as pd
import numpy as np
import geopandas as gpd
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
# Load dataset
district_data = pd.read_csv("Data/Summary_Population_Distribution_By_District.csv")

In [4]:
district_data.head()

,District,rural/urban,Male,Female,Total,Households,Area_in_Sq_Km,_Household_Density_,Population_Density,Gender_Index,County,Location,Location_1,Province,OBJECTID
0,NAIROBI WEST,Rural,0,0,0,0,0.00,NaN,NaN,NaN,NAIROBI,"NAIROBI WEST, NAIROBI Kenya\n",NaN,36.799202,0
1,NAIROBI EAST,Rural,0,0,0,0,0.00,NaN,NaN,NaN,NAIROBI,"NAIROBI EAST, NAIROBI Kenya\n",NaN,36.967484,1
2,NAIROBI NORTH,Rural,0,0,0,0,0.00,NaN,NaN,NaN,NAIROBI,"NAIROBI NORTH, NAIROBI Kenya\n",NaN,36.891126,2
3,WESTLANDS,Rural,0,0,0,0,0.00,NaN,NaN,NaN,NAIROBI,"WESTLANDS, NAIROBI Kenya\n",NaN,36.788256,3
4,NYANDARUA NORTH,Rural,106111,109785,215896,52503,1394.69,37.64,109861.0821,1.034624,CENTRAL,"NYANDARUA NORTH, CENTRAL Kenya\n",NaN,36.423431,4